In [17]:
import numpy as np
import pandas as pd

On se connecte à la base de données

In [18]:
from db_utils import get_db_engine

# Obtenir le moteur de base de données
engine = get_db_engine()

In [19]:
# Charger les fichiers sources
file1 = 'data\\ObesityDataSet_raw_and_data_sinthetic.csv'
file2 = 'data\\DietSurvey_toJson.json'

# Charger les fichiers dans des DataFrames
df1 = pd.read_csv(file1)
df2 = pd.read_json(file2)

In [20]:
# drinks1 - df1
drinks1 = df1[['SCC', 'CH2O']].rename(
    columns={
        'SCC': 'sugary_con',
        'CH2O': 'water_con'
    }
)
drinks1['alcohol_con'] = None  # Pas de colonne correspondante dans df1

print("drinks1 préparé.")

# drinks2 - df2
drinks2 = df2[
    [
        "What is your water consumption like (in a day, 1 cup=250ml approx)",
        "How frequently do you consume these beverages [Aerated (Soft) Drinks]",
        "How frequently do you consume these beverages [Alcoholic Beverages]"
    ]
].rename(
    columns={
        "What is your water consumption like (in a day, 1 cup=250ml approx)": "water_con",
        "How frequently do you consume these beverages [Alcoholic Beverages]": "alcohol_con",
                "How frequently do you consume these beverages [Aerated (Soft) Drinks]": "sugary_con"
    }
)

print("drinks2 préparé.")

drinks1 préparé.
drinks2 préparé.

In [21]:
# Fonction pour convertir la note en catégorie 'water_con'
def categorize_water_con(note):
    if note >= 2.7:
        return 'More than 15 cups'
    elif note >= 2.3:
        return '11-14 cups'
    elif note >= 1.7:
        return '7-10 cups'
    elif note >= 1.0:
        return '4-6 cups'
    else:
        return 'Less than 3 cups'

# Appliquer la fonction à la colonne 'water_con' de food_habits1
drinks1 ['water_con'] = drinks1 ['water_con'].apply(categorize_water_con)

In [22]:
# Concatenation des DataFrames préparés
drinks = pd.concat([drinks1, drinks2], ignore_index=True)
print("Drinks combiné.")

Drinks combiné.

In [23]:
# Fonction pour générer un nombre aléatoire dans les plages de chaque catégorie
def randomize_water_con(value):
    if value == 'More than 15 cups':
        return np.random.randint(15, 25)  # Entre 15 et 20
    elif value == '11-14 cups':
        return np.random.randint(11, 14)  # Entre 11 et 14
    elif value == '7-10 cups':
        return np.random.randint(7, 10)   # Entre 7 et 10
    elif value == '4-6 cups':
        return np.random.randint(4, 6)    # Entre 4 et 6
    elif value == 'Less than 3 cups':
        return np.random.randint(0, 3)    # Entre 0 et 3
    else:
        return value

# Appliquer la fonction à la colonne 'water_con' de food_habits
drinks['water_con'] = drinks['water_con'].apply(randomize_water_con)

In [24]:
drinks

        sugary_con  water_con       alcohol_con
0               no          9              None
1              yes         23              None
2               no          8              None
3               no          9              None
4               no          7              None
...            ...        ...               ...
2184    Once a day          8  Few times a week
2185         Never         19  Few times a week
2186  Once a month          7             Never
2187  Once a month          4  Few times a week
2188  Once a month          4      Once a month

[2189 rows x 3 columns]

In [27]:
for column in drinks.columns:
    print(f"Valeurs uniques pour la colonne '{column}':")
    print(drinks[column].unique())
    print("-" * 40)

Valeurs uniques pour la colonne 'sugary_con':
['no' 'yes' 'Less often' 'Often' 'Never' 'Once a month' 'Few times a week'
 'Once a day']
----------------------------------------
Valeurs uniques pour la colonne 'water_con':
[ 9 23  8  7 17  4  5 22 24 20 21 15 16 19 18 11 12 13  1  0]
----------------------------------------
Valeurs uniques pour la colonne 'alcohol_con':
[None 'Never' 'Once a month' 'Few times a week']
----------------------------------------