In [3]:
import pandas as pd
import random
from sqlalchemy import create_engine
import numpy as np

In [4]:
from db_utils import get_db_engine
# Obtenir le moteur de base de données
engine = get_db_engine()

In [5]:
# Charger les fichiers sources
file1 = 'data\\ObesityDataSet_raw_and_data_sinthetic.csv'
file2 = 'data\\lifestyle_sustainability_data.csv'

# Charger les fichiers dans des DataFrames
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [9]:
# Charger les fichiers sources
file1 = 'data\\ObesityDataSet_raw_and_data_sinthetic.csv'
file2 = 'data\\lifestyle_sustainability_data.csv'

# Charger les fichiers dans des DataFrames
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

# Fonction pour trier les valeurs numériques si possible
def sort_values(values):
    # Essayer de convertir en float et trier si possible
    try:
        # Convertir les valeurs en flottants, ignorer les erreurs
        values_float = [float(v) if isinstance(v, (int, float, str)) and str(v).replace('.', '', 1).isdigit() else v for v in values]
        return sorted(values_float, key=lambda x: (isinstance(x, str), x))  # Trier numériquement et puis par texte
    except Exception as e:
        return sorted(values)  # Si conversion échoue, juste trier les chaînes

# Récupérer les colonnes et afficher les valeurs uniques triées
df1_transport_unique_values = sort_values(df1['MTRANS'].unique())  # Trier les valeurs dans l'ordre croissant
df2_transport_unique_values = sort_values(df2['TransportationMode'].unique())  # Trier les valeurs dans l'ordre croissant

# Afficher les différentes valeurs uniques
df1_transport_unique_values, df2_transport_unique_values

(['Automobile', 'Bike', 'Motorbike', 'Public_Transportation', 'Walking'],
 ['Bike', 'Car', 'Public Transit', 'Walk'])

In [16]:
# Combiner les deux listes de valeurs uniques en un seul DataFrame
combined_transport = pd.DataFrame({
    'transport_mode': df1_transport_unique_values + df2_transport_unique_values
})

# Remplacer "Automobile" par "Car" dans le DataFrame combiné
combined_transport['transport_mode'] = combined_transport['transport_mode'].replace('Automobile', 'Car')
combined_transport['transport_mode'] = combined_transport['transport_mode'].replace('Public Transit', 'Public_Transportation')
combined_transport['transport_mode'] = combined_transport['transport_mode'].replace('Walking', 'Walk')

# Récupérer les valeurs uniques après remplacement
unique_transport_values = combined_transport['transport_mode'].dropna().unique()

# Créer un DataFrame final avec transport_id et les valeurs uniques
df_transport = pd.DataFrame({
    'id_env': range(1, len(unique_transport_values) + 1),
    'transport_mode': unique_transport_values
})

# Afficher le DataFrame final
df_transport

   id_env         transport_mode
0       1                    Car
1       2                   Bike
2       3              Motorbike
3       4  Public_Transportation
4       5                   Walk

In [17]:
df_transport.to_sql('Environment', engine, if_exists='append', index=False)

print("Les données ont été insérées avec succès dans la table 'Environment'.")

Les données ont été insérées avec succès dans la table 'Environment'.

C:\Users\user\AppData\Local\Temp\ipykernel_22652\837467409.py:1: UserWarning: The provided table name 'Environment' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_transport.to_sql('Environment', engine, if_exists='append', index=False)